<?php
# Fill our vars and run on cli
# $ php -f db-connect-test.php

$dbname = 'demo';
$dbuser = 'demo';
$dbpass = 'demo';
$dbhost = '{{ hostvars[groups.tag_role_db[0]]['private_ip_address'] }}';

$connect = mysqli_connect($dbhost, $dbuser, $dbpass) or die("Unable to Connect to '$dbhost'");
mysqli_select_db($connect, $dbname) or die("Could not open the db '$dbname'");

echo "<p><strong>Successfully connected to db " . $dbname . "</strong></p>";
$test_query = "SHOW TABLES FROM $dbname";
$result = mysqli_query($test_query);

$tblCnt = 0;
while($tbl = mysqli_fetch_array($result)) {
  $tblCnt++;
  echo $tbl[0]."<br />\n";
}

if (!$tblCnt) {
  echo "<p>There are no tables<br /></p>\n";
} else {
  echo "<p>There are $tblCnt tables<br /></p>\n";
}